body{
  margin:0;
  padding: 0;
  font-weight: 400;
  font-family: "Cuprum", "PT Sans", sans-serif;
}
a{
  text-decoration: none;
}
ul
{
  list-style: none;
}
.btn{
  color: #ffffff; 
}
/*Скрытые блоки авторизации класс hide */
.hide{
  display: none;
}
/* общий фон для хедера, и на всякий случай заливка цветом*/
.header {
  background-color: #f4f7f9;
}
/* Фон для верхней и нижней панели навигации в хедере*/
.header-nav, 
.header-top{
  background-color: #32425c;
  
}
/*Фон для заголовков секций popular*/
.popular-header{
  background-color: #f9f5f0;
}
/*фон для раздела сервисов, немного о, заголовка католога, а так же заливка*/
.services,
.description,
.catalog-title{
  background-image: url(/img/top-background.jpg);
  background-color: #f4f7f9;
}
/*фон для верхней панели футера*/
.footer-top{
  background-color: #32425c;
}
/* Фон для нижней панели футера*/
.footer-bottom{
  background-color: #293448;
}
/* Цвет текста ссылок в навигации хедера*/
.header-top a,
.header-nav a{
  color: #ffffff;
}
.header-main-preview{
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}
.header-top,
.header-nav{
  font-size: 17px;
}
/*Классы наведения и нажатия для навигации хедера*/
.boookmarks-list a:hover,
.boookmarks-list a:focus,
.header-nav-list a:hover,
.header-nav-list a:focus{
  background-color: #293448;
}
/*Цвет текста в заголовках popular и catalog*/
.popular-title,
.catalog-title{
  color: #32425c;
}
/*-----------Структурирование документа с помощью флексов-----------*/
/*---Общие параметры для контейнера---*/
.container{
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}
/*---Параметры для хедера---*/
.header-top .container{
  flex-direction: row;
  justify-content: space-around;
}
.header-main-info{
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
}
.header-nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.boookmarks-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
/*------------Параметры для блока features-------------*/
.top-features-list,
.bottom-features-list{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.bottom-features-list{
  flex-direction: column;
}
.bottom-features-wrap{
  display: flex;
  flex-direction: row;
}
.features-box-btn{
  width: 135px;
  height: 38px;
  background-color: #e5e5e5;
}
.features-box{
  min-width: 300px;
  min-height: 123px;
}
/*---Параметры для блоков popular---*/
.popular-header{
  display: inherit;
  justify-content: space-around;
}
.popular-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.popular-item{
  min-width: 220px;
  align-items: center;
}
.popular-btn{
  background-color: #ee3643;
}
/*--------Параметры для блока company---------*/
.company .container{
  flex-direction: row;
  justify-content: space-between;
}
/*--------Параметры для футера-------------*/
.footer-top .container{
  flex-direction: row;
  align-items: stretch;
  font-size: 18px;
  line-height: 24px;
}
.footer-main-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-nav{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.footer-nav-list,
.footer-category-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-nav-list a{
  color: #f1f5f7;
}
.footer-category-item a{
  color: #ffd180;
}
.footer-contacts,
.footer-contacts a{
  color: #f1f5f7;
}
.footer-bottom .container{
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
}
.copyright{
  color: #ffffff;
}
.feedback{
  display: flex;
  flex-direction: row;
  color: #ffffff;
}
.feedback a{
  color: #ffd180;
}
.social{
  display: flex;
  flex-direction: row;
}/*---------------Параметры для блока catalog на странице каталога---------------*/
.catalog .container{
  display: flex;
  flex-direction: row;
}
.catalog-content{
  width: 700px;
}
.catalog-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filtres{
  width: 220px;
}
/*------------Параметры для блока breadcrumbs------------*/
.breadcrumbs-list{
  display: flex;
  flex-direction: row;
}
/*------------Параметры для блока description-------------*/
.description .container{
  justify-content: space-around;
  min-height: 261px;
}
