body{
  margin:0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  height: auto;
}
.hide{
  display: none;
}
/*---------Общий стиль для текста кнопок----------*/
a.btn,
.buy-btn,
.credit-btn{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  
}
/*--------Стили для Хедера---------*/
.header-top{
  background-color: #293449;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.header-top a{
  color: #ffffff;
}
.header-logo {
  background-color: #ee3643;
  min-width: 220px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
  border-bottom: 5px solid #b52933;
}
.header-logo:hover{
  background-color: #ca2c37;  
}
.header-logo:active{
  background-color: #ba2732;
}
.bookmark-link:hover,
.cart-link:hover{
  background-color: #212a3a;
}
.bookmark-link:active,
.cart-link:active{
  background-color: #161d29;
  opacity: 0.6;
}
.header-order-btn{
  background-color: #63a63e;
}
.header-order-btn:hover{
  background-color: #5fbb2d;
}
.header-order-btn:active{
  background-color: #518534;
  opacity: 0.5;
}
.header-search{
  background-color: #293449;
  border: none;
  color: #ffffff
}
.header-search:hover{ 
  background-color: #212a3a;
  color: #ffffff;
  border: none;
}
.header-search:focus{
  background-color: #ffffff;
  color: #000000;
  border: none;
}
.header-main{
  background-image: url(/img/top-background.jpg);
}
.header-main-preview{
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  width: 196px;
  height: 63px;
  padding-top: 8px;
}
.header-contacts-tel{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding-left: 74px;
  padding-top: 13px;
  padding-right: 52px;
  padding-bottom: 12px;
}
.header-contacts-address{
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
.authorization-btn{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.authorization-btn:hover{
  color: #ee3643;
}
.authorization-btn:active{
  color:#000000;
  opacity: 0.3;
}
.personal-area-item a{
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}
.header-nav{
  background-color: #32425c;
}
.header-nav a{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}
.header-nav a:hover{
  background-color: #293449;
}
.header-nav a:active{
  background-color: #293449;
  opacity: 0.5;
}
/*-------------Стили для блоков стрницы INDEX-----------*/
.features-box{
  width: 300px;
  height: 123px;
}
.top-features-item:first-child .features-box{
  background-color: #ffbf47;
}
.top-features-item:last-child .features-box{
  background-color: #dc91d8;
}
.top-features-item .features-box{
  background-color: #3bbce3;
}
.bottom-features-item .features-box{
  background-color: #8ed78f;
}
.bottom-features-item:last-child .features-box{
  background-color: #ffc047;
} 
.features-box-title{
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.features-box-btn {
  background-color: #e5e5e5;
}
.features-box-btn:hover{
  background-color: #cccccc;
}
.features-box-btn:active{
  background-color: #b2b2b2;
}
.open-catalog-btn{
  background-color: #ee3643;
}
.open-catalog-btn:hover{
  background-color: #ca2c37;
}
.open-catalog-btn:active{
  background-color: #ba2732;
}
.slider{
  background-color: blueviolet;
  width: 620px;
  height: 266px;
}
.slider-title{
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.slider-preview{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.slider a{
  color: #ffffff
}
/*------------Стили для раздела Popular--------*/
.popular-header{
  background-color: #f9f5f0;
}
.popular-title{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.buy-btn{
  background-color: #63a63e;
  border: none;
}
.buy-btn:hover{
  background-color: #5fbb2d;
  border: none;
}
.buy-btn:active{
  background-color: #518534;
  border-top: none;
}
.adding-bookmarks-btn{
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  color: #32425c;
}
.adding-bookmarks-btn:hover{
  color: #32425c;
}
.adding-bookmarks-btn:active{
  color: #32425c;
  opacity: 0.3;
}
.product-title{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}
.product-price-old{
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}
.product-price-actual{
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  background-color: #ee3643;
}
.popular-item{
  border: 1px solid #e7e7e7;
}
/*-------------Стили для раздела Servises---------------*/
.services,
.description{
  background-image: url(/img/top-background.jpg);
}
.services-title{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services-preview-title{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.services-label-wrap{
  font-size: 21px;
  line-height: 30px;
}
.services-item-label{
  background-color: #32425c;
  color: #ffffff;
}
.services-item-label:hover{
  background-color: #293449;
}
.services-item-label:active{
  background-color: #ffffff;
  color: #32425c;
}
.about-title,
.contacts-title{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about-item{
  font-size: 18px;
  line-height: 20px;
}
/*-----------------Стили для футера---------------*/
.footer-top{
  background-color: #32425c;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-logo{
  background-color: #ee3643;
}
.footer-logo:hover{
  background-color: #ca2c37;  
}
.footer-logo:active{
  background-color: #ba2732;
}
.footer-contacts address{
  font-style: normal;
}
.footer-contacts-tel{
  color: #f3f7f9;
}
.footer-nav-list a{
  color: #f1f5f7;
}
.footer-nav-list a:hover{
  text-decoration: underline;
}
.footer-nav-list a:active{
  opacity: 0.5;
  text-decoration: none;
}
.footer-category-list a{
  color: #ffd180;
}
.footer-category-list a:hover{
  text-decoration: underline;
}
.footer-category-list a:active{
  opacity: 0.5;
  text-decoration: none;
}
.footer-bottom{
  background-color: #293449;
}
.copyright-preveiw{
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}
.feedback{font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  
}
.feedback a{
  color: #ffd180;
}
.feedback a:hover{
  text-decoration: underline;
}
.feedback a:active{
  text-decoration: none;
  color: #ee3643;
}
/*-----------Структурирование документа с помощью флексов-----------*/
/*---------------Общие параметры для контейнера-------------*/
html,
body{
  min-width: 1200px;
  min-height: 3151px;
}
/*---------Параметры для container----------*/
.container{
  width: 940px;
  margin: 0 auto;
}
/*---Параметры для хедера---*/
.header{
  min-height: 320px;
}
.header-top{
  width: 100%;
  min-height: 42px;
}
.bookmarks-list {
  display: flex;
  min-height: 42px;
  align-items: center;
  flex-wrap: wrap;
}
.bookmark-item{
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 42px;
}
.bookmark-item a{
  display: flex;
  min-height: 42px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.header-search-form{
  width: 100%;
}
.header-search{
  height: 42px;
  width: 100%;
}
.header-main{
  
  min-height:  278px;
}
.header-main-info{
  padding-top: 46px;
  display: flex;
  justify-content: space-around;
}
.header-main-preview{
  margin: 0;
}
.authorization-list{
  display: flex;
  min-width: 282px;
  justify-content: space-around;
}
.authorization-item:first-child{
  width: 121px;
  height: 45px;
}
.authorization-item:nth-child(2){
  width: 150px;
  height: 45px;
}
.header-contacts{
  display: flex;
  min-width: 270px;
  flex-direction: column;
  align-items: center;
  
}
.header-main-preview{
  min-width: 196px;
  min-height: 63px;
  margin-bottom: 44px;
}
.header-nav-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 60px;
}
/*--------Стили для features---------*/
.features p{
  margin: 0;
}
.top-features-wrap{
  margin-top: 59px;
}
.bottom-features-wrap{
  margin-top: 20px;
}
.top-features-list{
  display: flex;
  justify-content: space-between;
}
.bottom-features-wrap{
  display: flex;
  justify-content: space-between;
}
.bottom-features-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-catalog{
  padding-top: 20px;
}
.catalog-company{
  min-height: 415px;
}
.popular-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.catalog-company-list{
  flex-direction: row;
}
.catalog-product-list .popular-item{
  min-height: 318px;
  min-width: 220px;
}
.catalog-company-list .popular-item{
  min-height: 145px;
  min-width: 220px;
}
/*----------Стили для Company--------*/
.company-box{
  display: flex;
  min-height: 536px;
  justify-content: space-between;
}
.about{
  flex-basis: 536px;
}
.contacts{
  flex-basis: 104px;
}
/*---------Стили для Футера-----------*/

.footer-top-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  min-height: 193px;
}
.footer-main-left{
  display: flex;
  flex-direction: column;
}
.footer-main-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-contacts{
  display: flex;
  flex-direction: column;
}
.footer-nav{
  display: flex;
  justify-content: space-between;
  min-height: 91px;
}
.footer-nav-list{
  display: flex;
  justify-content: space-between;
  min-width: 543px;
}
.footer-category-list{
  display: flex;
  justify-content: space-between;
  min-width: 521px;
}
.footer-logo{
  min-height: 68px;
}
.footer-contacts{
  min-height: 64px;
}
.footer-bottom-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-preveiw{
  min-width: 260px;
}
.feedback{
  display: flex;
  justify-content: space-between;
}
.social{
  display: flex;
}
/*----------------Стили страницы catalog-----------*/
/*------------Стили для блока breadcrumbs-----------*/
.breadcrumbs-box{
  display: flex;
  align-items: center;
  min-height: 59px;
}
.breadcrumbs-list{
  display: flex;
  align-items: center;
}
/*------------Стили для блока Description---------*/
.description{
  min-height: 261px;
}
.description-title{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 68px;
}
.catalog-item{
  border: 1px solid #e7e7e7;
}